<div class="backgroundSing example-full-width ">
    <form [formGroup]="_form" class="example-form">
        <mat-form-field class="w100">
            <mat-label>Proveedor</mat-label>
            <input matInput formControlName="proveedor" placeholder="Proveedor">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error class="font14" *ngIf="_form?.controls?.proveedor?.hasError('required')">
                El proveedor es requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w100">
            <mat-label>Monto</mat-label>
            <input type="number" matInput formControlName="monto" placeholder="Monto">
            <mat-icon matSuffix>paid</mat-icon>
            <mat-error class="font14" *ngIf="_form?.controls?.monto?.hasError('required')">
                El Monto es requerido
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w100">
            <mat-label>Moneda</mat-label>
            <mat-label>State</mat-label>
            <mat-select formControlName="moneda">
                <mat-option *ngFor="let mon of monedas" [value]="mon.value">
                    {{mon.text}}
                </mat-option>
            </mat-select>

        </mat-form-field>
        <mat-form-field class="w100">
            <mat-label>Fecha</mat-label>
            <input matInput formControlName="fecha" [matDatepicker]="picker" placeholder="Fecha" [max]="maxDate" (click)="picker.open()"
                readonly>
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error class="font14" *ngIf="_form?.controls?.fecha?.hasError('required')">
                El Fecha es requerida
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w100">
            <mat-label>Comentario</mat-label>
            <input matInput formControlName="comentario" placeholder="Comentario">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-error class="font14" *ngIf="_form?.controls?.comentario?.hasError('required')">
                El Comentario es requerido
            </mat-error>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="preGuardar()">Guardar</button>
        <button mat-stroked-button color="warn" [routerLink]="['/recibos/list']">Regresar</button>
    </form>
</div>