<mat-toolbar *ngIf="profile">
    <div class="w100">
        <div class="w80">
            <span>Recibos by Lorenzo Ochoa</span>
            <span class="example-spacer"></span>
        </div>
        <div class="w20">
            <button mat-icon-button class="example-icon" style="cursor: pointer;" (click)="cerrarSesion()" matTooltip="Cerrar sesión">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>

<div *ngIf="_shared?.cargando" class="modalOn">

    <div class="loadings">
        <!-- <img class="width" src="./../assets/loading.gif"> <br> -->
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</div>