table {
    width: 100%;
}

.m2 {
    margin: 2%;
}

.display {
    display: flex;
    width: 99%;
    margin: 8px;
}

.w90 {
    width: 90%;
    margin-left: 2%;
    margin-top: 1%;
}

.w10 {
    width: 10%;
    margin-top: 1%;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.w7 {
    width: 8%;
}

.color {
    color: #3e4684 !important;
}

.bnt {
    background-color: #3e4684 !important;
}

.mxHeight {
    max-height: 700px;
    overflow: auto;
}